* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}

body {
    background-color: rgb(245, 245, 236);
}

@media only screen and (min-width: 1200px){
    .container{
        margin: 0;
        width: 100%;
    }
    .main{
        margin-top: 3%;
        margin-left: 15%;
        margin-right: 15%;
        background-color: yellowgreen;
    }

    .header__text{
        font-size: 60px;
        font-weight: bold;
        background-color: red;
    }

    .accordion{
        margin-top: 3%;
    }

    .accordion__item{
        background-color: aqua;
    }

    .accordion__header{
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .panel{
        background-color: orange;
    }
}



.accordion__item:hover{
    background-color: darkgreen;
}

.accordion__item:hover h2{
    color: blue;
}